@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/RobotoMono-Light.ttf');
}

@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/RobotoMono-Medium.ttf');
}

@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/RobotoMono-Bold.ttf');
}
